<!-- wp:template-part {"slug":"header","theme":"foodblog16"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"9.8rem","bottom":"9.8rem"}}},"layout":{"type":"constrained","contentSize":"120rem"}} -->
<div class="wp-block-group" style="margin-top: 9.8rem; margin-bottom: 9.8rem">
  <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"1.8rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group" style="margin-bottom: 1.8rem">
    <!-- wp:group {"style":{"spacing":{"blockGap":"4.4rem"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group">
      <!-- wp:post-author {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

      <!-- wp:post-date {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-comments-count {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="margin-top: 0px; margin-bottom: 0px">
    <!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"1.8rem"}}}} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group">
      <!-- wp:post-terms {"term":"category"} /-->

      <!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-featured-image /-->

  <!-- wp:post-content {"style":{"spacing":{"margin":{"bottom":"4.4rem"}}}} /-->

  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group">
    <!-- wp:post-navigation-link {"type":"previous","arrow":"chevron"} /-->

    <!-- wp:post-navigation-link {"arrow":"chevron"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"foodblog16","area":"uncategorized"} /-->
